<?xml version="1.0"?>
<model>
  <name>labeled_boxes</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author><name>NU-CE27</name></author>
  <description>Textures and materials for the uniquely labelled boxes (A-### small, B-### long, C-### heavy, D-### mixed).</description>
</model>
